.headhesive{
  
    position: fixed;
    width: 102%;
    right: 2px;
    transform: translateY(140px);
    z-index: 20;
    top:0px;
    opacity: .85;
    transition: all .3s;
    background-color: #3F6D8E;

}

.headhesive--stick{
    padding-top: 100px;
    transform: translateY(-100px);
     opacity: 1;
    background-color: #133469;
}
